﻿<html lang="en">
<h1>Some header</h1>

<div>
  <p>Some text here from data model.</p>
  <p>Name: <b>@Model.Name</b></p>
  <p>Description: <b>@Model.Description</b></p>
</div>

<div>
  <p>Copyrights, @Model.Year</p>
</div>
</html>